/*
    Document   : angular-project/css/app．css
    Created on : 2015-01-10 09:13 PM
    Author     : scopevale
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
	
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}
